.header {
  grid-area: header;
  background: #CFF5FF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo{
    padding-left: 1rem;


    & img {
      width: 10rem;
      height: 10rem;
      transform: translateX(-5%);
    }
  }

  &__navmenu {
    display: flex;

    & svg {
      width: 24px;
      height: 24px;
    }


    &__item {
      display: flex;
      flex-direction: row;
      font-weight: 700;
      justify-content: space-evenly;
      padding: 0px 0.4rem;
      transition: all 250ms;


      & p {
        align-self: center;
        padding-left: 2px;
      }

      &:hover {
        cursor: pointer;

        & svg {
          fill: #f42f42;
        }

        & p {
          color: #567B97;
        }
      }



    }
  }
}



@media screen and (max-width: 700px){

}
