.homecontainer {
  font-size: 20px;
  background-color: #B0E8E4;

  &__text {
    font-family: "CookieSupply";
    display: flex;
    flex-direction: row;
    align-items: center;


    &__title {
      margin: 0px 10px;
      font-size: 34px;
    }

    &__link {
      text-decoration: none;

      & a {
        text-decoration: none;
        font-size: 16px;
        &:visited {
          color: #f42f42;
        }
      }
    }
  }


  &__content {
    height: 240px;
  }
}
