html {
  font-size: 62.5%;
}

@font-face {
  font-family: "PointSoft";
  src: url("./../../media/fonts/PointSoft-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "PointSoft";
  src: url("./../../media/fonts/PointSoft-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "PointSoft";
  src: url("./../../media/fonts/PointSoft-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "PointSoft";
  src: url("./../../media/fonts/PointSoft-Book.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "PointSoft";
  src: url("./../../media/fonts/PointSoft-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Bugbear";
  src: url("./../../media/fonts/Bugbear.otf");
}

@font-face {
  font-family: "CookieSupply";
  src: url("./../../media/fonts/Cookie-Supply.otf");
}

@font-face {
  font-family: "Rockinsoda";
  src: url("./../../media/fonts/Rockinsoda.ttf");
}

