.home {
  &__homecardcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #E8FAFF;
  }

  &__shopcontainer {
    margin-top: -24px;
  }


  &__youtubetwitchcontainer {
    display: flex;
    flex-direction: row;

    & div {
      width: 50%;

    }
  }

  &__spotifycontainer {
    display: flex;
    flex-direction: row;

    & div {
      width: 50%;
    }
  }
}


@media screen and (max-width: 700px){
  .home {
    &__homecardcontainer {
      flex-direction: column;

      & div {
        margin: 10px 0px;
      }
    }
  }
}